/*banner*/

#banner {
  background: url(../images/common/bgBanner.jpg)no-repeat center top;
  background-size: cover;
  padding: 300px 0 400px;
  margin-top: -109px;
  text-align: left;
  h1{
    font-family: "Rajdhani";
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
    letter-spacing: 6px;
    span{
      display: block;
      font-weight: 700;
      font-size: 65px;
      letter-spacing: 0;
    }
  }
  p{
    max-width: 26.5%;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    line-height: 140%;
  }
}
