/*footer*/

#footer {
  background: none;
  padding: 40px 0;
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
  .footTop{
    .row{
      border-bottom: 1px solid #D6D6D6;
      padding: 0 0 30px;
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: row;
      .details{
        text-align: left;
        h2{
          font-family: "Rajdhani";
          font-weight: 700;
          font-size: 20px;
          color: #111111;
        }
        ul{
          padding: 0;
          li{
            display: block;
            font-family: "Poppins";
            font-weight: 400;
            font-size: 13px;
            color: #333333;
            line-height: 250%;
            .ft-location{
              background: url(../images/common/footer-sprites.png)no-repeat 0 0;
              width: 22px;
              height: 22px;
              margin-right: 5px;
              display: inline-block;
              vertical-align: middle;
            }
            .ft-phone{
              background: url(../images/common/footer-sprites.png)no-repeat 0 -30px;
              width: 22px;
              height: 22px;
              margin-right: 5px;
              display: inline-block;
              vertical-align: middle;
            }
            .ft-email{
              background: url(../images/common/footer-sprites.png)no-repeat 0 -60px;
              width: 22px;
              height: 22px;
              margin-right: 5px;
              display: inline-block;
              vertical-align: middle;
            }
          }
        }
        p.sm{
          margin: 10px auto;
          a{
            font-size: 40px;
            letter-spacing: 3px;
          &:nth-of-type(1){color: #3B5998}
          &:nth-of-type(2){color: #00BCFB}
          &:nth-of-type(3){color: #D53D30}
          &:nth-of-type(4){color: #007BB6}
          }
        }
      }
    }
  }
  .footBot{
    .row{
      padding: 20px 0;
    }
    img.ft-Logo{
      max-width: 317px;
      width: 100%;
      margin-bottom: 20px;
    }
    .copy, .silver{
      text-transform: uppercase;
      margin: 0 auto;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 13px;
      color: #333333;
    }
  }
}
