/*header*/

#header {
  background: none;
  padding: 23px 0 0;
  position: relative;
  z-index: 99;
  nav {
    a#pull {
      display: none;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        a {
          font-family: "Rajdhani";
          font-weight: 700;
          font-size: 20px;
          color: #FFFFFF;
        }
        &.active-menu a, a:hover {
          color: #D90000;
        }
      }
    }
  }
  .hdLeft{
    text-align: left;
    img.hdLogo{
      max-width: 317px;
      width: 100%;
      height: auto;
    }
  }
  .hdRight{
    text-align: right;
    .hdRightTop{
      .hdPhone{
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 800;
        color: #FFFFFF;
        padding: 5px 0 5px 45px;
        background: url(../images/common/header-sprites.png)no-repeat 0 0;
        background-size: 32px 80px;
        margin-right: 40px;
      }
      .hdEmail{
        font-family: "Poppins";
        font-size: 15px;
        font-weight: 800;
        color: #FFFFFF;
        padding: 5px 0 5px 45px;
        background: url(../images/common/header-sprites.png)no-repeat 0 -50px;
        background-size: 32px 80px;
      }
    }
    .hdRightBot{
      margin-top: 35px;
    }
  }
}
