/*-----------------------Help-----------------------*/
#help{
  background: #0059B2;
  padding: 73px 0 71px;
  h2{
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    line-height: 81px
  }
  p{
    font-family: "Poppins";
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 180%;
    span{
      display: block;
    }
  }
}
