/*-----------------------------------gallery-----------------------------------*/
#gallery{
  padding: 59px 0 100px;
  .row{
    text-align: left;
  }
  .row2{
    margin: 50px auto 0;
    max-width: 1580px;
    .container1, .container2{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      img{
        max-width: 320px;
        width: 21%;
        height: 100%;
      }
    }
    .container1{
      margin-bottom: 60px;
    }
  }
}
