/*----------------------------welcome----------------------------*/
#welcome{
  overflow: hidden;
  background: #0059B2;
  .row{
    max-width: 1670px;
  }
  .wlcLeft{
    padding: 98px 0 91px;
    text-align: left;
    h3{
      font-family: "Rajdhani";
      font-weight: 700;
      font-size: 20px;
      color: #FFFFFF;
    }
    p{
      max-width: 751px;
      font-family: "Poppins";
      font-weight: 400;
      font-size: 15px;
      color: #FFFFFF;
      line-height: 180%;
      margin: 20px 0;
      &:nth-of-type(2){
        margin: 50px 0;
      }
    }
  }
  .wlcRight{
    .top{
      position: relative;
      background: #D90000;
      padding: 55px 0;
      text-align: left;
      p{
        margin: 0 auto 0 55px;
        font-family: "Poppins";
        font-weight: 900;
        font-size: 30px;
        color: #FFFFFF;
        letter-spacing: 3px;
      }
      &::after{
        content:'';
        width: 100%;
        height: 100%;
        background: #D90000;
        position: absolute;
        top: 0;
        right: -100%;
      }
    }
    .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 159px 0 0;
      dl{
        max-width: 235px;
        width: 25%;
        padding: 0 20px;
        dt{
          img.wlc1{
            background: url(../images/common/services-sprites.png)no-repeat 0 0;
            width: 71px;
            height: 71px;
          }
          img.wlc2{
            background: url(../images/common/services-sprites.png)no-repeat -97px 0;
            width: 71px;
            height: 71px;
          }
          img.wlc3{
            background: url(../images/common/services-sprites.png)no-repeat -193px 0;
            width: 71px;
            height: 71px;
          }
        }
        dd{
          padding: 20px 0 0;
          margin: 0 auto;
          h4{
            font-family: "Rajdhani";
            font-size: 16px;
            font-weight: 700;
            color: #FFFFFF;
          }
          p{
            margin: 0 auto;
            font-family: "Poppins";
            font-size: 13px;
            font-weight: 400;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
