/*----------------------------services----------------------------*/
#services{
  padding: 106px 0 59px;
  .row{
    max-width: 1790px;
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .contServices{
      position: relative;
      max-width: 421px;
      width: 24%;
      height: 100%;
      img{
        max-width: 421px;
        width: 100%;
        height: auto;
      }
      p.description{
        width: 100%;
        padding: 50px 0;
        background: rgba(0,89,178,0.85);
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 25px;
        color: #FFFFFF;
        letter-spacing: 3px;
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
      &.last{
        padding: 55px 0 0;
        text-align: left;
        p{
          font-family: "Poppins";
          font-size: 15px;
          font-weight: 400;
          color: #333333;
          line-height: 180%;
          margin: 50px 0;
        }
      }
    }
  }
}
