h1 {
  font-family: "Rajdhani";
  font-size: 45px;
  font-weight: 700;
  color: #FFFFFF;
}
h2{
  font-family: "Rajdhani";
  font-size: 45px;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  span{
    display: block;
  }
}
.socialico{font-family: "socialico"}
.socialico-plus{font-family: "socialico plus"}
