/*inner pages*/

.inner #content {
  min-height: 400px;
  padding: 40px 0;
  h1{
    font-family: "Rajdhani";
    font-weight: 700;
    color: #000000;
    margin-bottom: 40px;
  }
  h2{
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 30px;
  }
  h3{
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 25px;
  }
  h4{
    font-family: "Rajdhani";
    font-weight: 700;
    font-size: 20px;
  }
}

/*--------------------------------services--------------------------------*/
.services-page #content{
  .container{
    h2{
      padding: 20px 0;
      background: #0059B2;
      color: #FFFFFF;
    }
    ul{
      max-width: 800px;
      margin: 40px   auto;
      list-style: disc inside;
      columns: 2;
      li{
        text-align: left;
        font-size: 18px;
        line-height: 180%;
      }
    }
  }
}
/*----------------------------------gallery----------------------------------*/
.gallery-page #content{
  .row{
    max-width: 1200px;
  }
}
/*----------------------------------review-------------------------------*/
.reviews-page #content{
  .reviews-container{
    .reviews{
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 40px -10px;
      h2{
        padding: 20px 0;
        color: #FFFFFF;
        background: #0059B2;
      }
      .textBox{
        padding: 20px 40px;
        text-align: left;
        line-height: 180%;
      }
    }
  }
}
