@font-face { font-family: "socialico"; src: url("fonts/Socialico/Socialico.eot"); src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: "socialico plus"; src: url("fonts/SocialicoPlus/socialico-plus.eot"); src: url("fonts/SocialicoPlus/socialico-plus.eot?#iefix") format("embedded-opentype"), url("fonts/SocialicoPlus/socialico-plus.woff2") format("woff2"), url("fonts/SocialicoPlus/socialico-plus.woff") format("woff"), url("fonts/SocialicoPlus/socialico-plus.ttf") format("truetype"), url("fonts/SocialicoPlus/socialico-plus.svg#lobster_1.4regular") format("svg"); }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Bold.woff2") format("woff2"), url("fonts/Rajdhani-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Regular.woff2") format("woff2"), url("fonts/Rajdhani-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Rajdhani'; src: url("fonts/Rajdhani-Semibold.woff2") format("woff2"), url("fonts/Rajdhani-Semibold.woff") format("woff"); font-weight: 600; font-style: normal; }

@font-face { font-family: 'Poppins'; src: url("fonts/Poppins-Regular.woff2") format("woff2"), url("fonts/Poppins-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Poppins'; src: url("fonts/Poppins-ExtraBold.woff2") format("woff2"), url("fonts/Poppins-ExtraBold.woff") format("woff"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Poppins'; src: url("fonts/Poppins-Black.woff2") format("woff2"), url("fonts/Poppins-Black.woff") format("woff"); font-weight: 900; font-style: normal; }

.suspension-contain { max-height: 980px; overflow: hidden; position: relative; }

html.suspended { background: rgba(0, 0, 0, 0.6); }

body { max-width: 100%; min-width: 1200px; margin: 0 auto; text-align: center; font-family: "Poppins"; }

a { color: inherit; text-decoration: none; }

a:hover { text-decoration: none; color: inherit; }

h1, h2, h3, h4, h5 { padding: 0; margin: 0; }

.row { max-width: 1300px; margin: 0 auto; }

/*floats*/
.fl { float: left; }

.fr { float: right; }

/*grids*/
.col-1 { width: 8.33%; }

.col-2 { width: 16.66%; }

.col-3 { width: 25%; }

.col-4 { width: 33.33%; }

.col-5 { width: 41.66%; }

.col-6 { width: 50%; }

.col-7 { width: 58.33%; }

.col-8 { width: 66.66%; }

.col-9 { width: 75%; }

.col-10 { width: 83.33%; }

.col-11 { width: 91.66%; }

.col-12 { width: 100%; }

/*typography*/
.text-primary { color: #B11414; }

.text-bold { font-weight: 700; }

.text-uppercase { text-transform: uppercase; }

.text-center { text-align: center !important; }

.text-left { text-align: left; }

/*button*/
.btn { text-align: center; font-family: "Rajdhani"; font-size: 15px; font-weight: 600; color: #FFFFFF; display: inline-block; padding: 17.5px 0; background: #D90000; max-width: 146px; width: 100%; border: 1px solid transparent; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }

.btn:hover { background: #ddd; border-color: #ddd; color: #000; }

/*clearings*/
.clear { clear: both; }

.clearfix { display: block; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom { font-size: 14px; padding: 5px 10px; position: fixed; display: block !important; -webkit-transform: none !important; -ms-transform: none !important; transform: none !important; bottom: 0 !important; left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta { display: none; }

/*contact form messages*/
form .messages p { display: none; font-family: Arial !important; font-weight: 400 !important; letter-spacing: 0 !important; font-size: 16px !important; }

form .loading { display: none; }

form .alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; }

form .alert-success { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }

form .alert-danger { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }

form [type="submit"] { margin: 20px auto; }

/*contact form*/
.ctc-form { margin: 0 auto; text-align: center; }

.ctc-form input[type="text"] { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; }

.ctc-form textarea { font-family: Arial; font-size: 16px; color: #000; height: 45px; display: block; width: 100%; border: 1px solid #ddd; border-radius: 3px; padding: 5px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto 8px; height: 120px; padding-top: 10px; }

.ctc-form button { display: block; }

.ctc-form .recap { display: inline-block; }

.ctc-form .g-recaptcha div { margin: 0 auto 10px; }

.ctc-form .ctc-hide { display: none; }

/*gallery*/
#content .gallery-container { text-align: center; }

#content .gallery { list-style-type: none; margin: 0; padding: 0; }

#content .gallery li { display: inline-block; }

#content .thumbnail { background-color: #fff; border: 1px solid #ddd; border-radius: 4px; display: block; line-height: .42857; margin-bottom: 20px; padding: 4px; -webkit-transition: border 0.5s ease-in-out 0s; -o-transition: border 0.5s ease-in-out 0s; transition: border 0.5s ease-in-out 0s; }

#content .thumbnail:hover { -webkit-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); }

#content .page_navigation { display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse { background-color: #fff; border: 1px solid #ddd; color: #0275d8; display: inline-block; line-height: 1.25; margin-left: -1px; padding: 0.5rem 0.75rem; position: relative; }

#content .page_navigation > a:hover { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

.page_navigation > a.active_page { background-color: #eceeef; border-color: #ddd; color: #014c8c; text-decoration: none; }

h1 { font-family: "Rajdhani"; font-size: 45px; font-weight: 700; color: #FFFFFF; }

h2 { font-family: "Rajdhani"; font-size: 45px; font-weight: 700; color: #000000; line-height: 100%; }

h2 span { display: block; }

.socialico { font-family: "socialico"; }

.socialico-plus { font-family: "socialico plus"; }

/*header*/
#header { background: none; padding: 23px 0 0; position: relative; z-index: 99; }

#header nav a#pull { display: none; }

#header nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin: 0; padding: 0; }

#header nav ul li { display: inline-block; vertical-align: middle; }

#header nav ul li a { font-family: "Rajdhani"; font-weight: 700; font-size: 20px; color: #FFFFFF; }

#header nav ul li.active-menu a, #header nav ul li a:hover { color: #D90000; }

#header .hdLeft { text-align: left; }

#header .hdLeft img.hdLogo { max-width: 317px; width: 100%; height: auto; }

#header .hdRight { text-align: right; }

#header .hdRight .hdRightTop .hdPhone { font-family: "Poppins"; font-size: 15px; font-weight: 800; color: #FFFFFF; padding: 5px 0 5px 45px; background: url(../images/common/header-sprites.png) no-repeat 0 0; background-size: 32px 80px; margin-right: 40px; }

#header .hdRight .hdRightTop .hdEmail { font-family: "Poppins"; font-size: 15px; font-weight: 800; color: #FFFFFF; padding: 5px 0 5px 45px; background: url(../images/common/header-sprites.png) no-repeat 0 -50px; background-size: 32px 80px; }

#header .hdRight .hdRightBot { margin-top: 35px; }

/*banner*/
#banner { background: url(../images/common/bgBanner.jpg) no-repeat center top; background-size: cover; padding: 300px 0 400px; margin-top: -109px; text-align: left; }

#banner h1 { font-family: "Rajdhani"; font-weight: 400; font-size: 28px; color: #FFFFFF; letter-spacing: 6px; }

#banner h1 span { display: block; font-weight: 700; font-size: 65px; letter-spacing: 0; }

#banner p { max-width: 26.5%; font-family: "Poppins"; font-weight: 400; font-size: 14px; color: #FFFFFF; margin: 0; line-height: 140%; }

/*----------------------------welcome----------------------------*/
#welcome { overflow: hidden; background: #0059B2; }

#welcome .row { max-width: 1670px; }

#welcome .wlcLeft { padding: 98px 0 91px; text-align: left; }

#welcome .wlcLeft h3 { font-family: "Rajdhani"; font-weight: 700; font-size: 20px; color: #FFFFFF; }

#welcome .wlcLeft p { max-width: 751px; font-family: "Poppins"; font-weight: 400; font-size: 15px; color: #FFFFFF; line-height: 180%; margin: 20px 0; }

#welcome .wlcLeft p:nth-of-type(2) { margin: 50px 0; }

#welcome .wlcRight .top { position: relative; background: #D90000; padding: 55px 0; text-align: left; }

#welcome .wlcRight .top p { margin: 0 auto 0 55px; font-family: "Poppins"; font-weight: 900; font-size: 30px; color: #FFFFFF; letter-spacing: 3px; }

#welcome .wlcRight .top::after { content: ''; width: 100%; height: 100%; background: #D90000; position: absolute; top: 0; right: -100%; }

#welcome .wlcRight .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: distribute; justify-content: space-around; padding: 159px 0 0; }

#welcome .wlcRight .container dl { max-width: 235px; width: 25%; padding: 0 20px; }

#welcome .wlcRight .container dl dt img.wlc1 { background: url(../images/common/services-sprites.png) no-repeat 0 0; width: 71px; height: 71px; }

#welcome .wlcRight .container dl dt img.wlc2 { background: url(../images/common/services-sprites.png) no-repeat -97px 0; width: 71px; height: 71px; }

#welcome .wlcRight .container dl dt img.wlc3 { background: url(../images/common/services-sprites.png) no-repeat -193px 0; width: 71px; height: 71px; }

#welcome .wlcRight .container dl dd { padding: 20px 0 0; margin: 0 auto; }

#welcome .wlcRight .container dl dd h4 { font-family: "Rajdhani"; font-size: 16px; font-weight: 700; color: #FFFFFF; }

#welcome .wlcRight .container dl dd p { margin: 0 auto; font-family: "Poppins"; font-size: 13px; font-weight: 400; color: #FFFFFF; }

/*----------------------------services----------------------------*/
#services { padding: 106px 0 59px; }

#services .row { max-width: 1790px; }

#services .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

#services .container .contServices { position: relative; max-width: 421px; width: 24%; height: 100%; }

#services .container .contServices img { max-width: 421px; width: 100%; height: auto; }

#services .container .contServices p.description { width: 100%; padding: 50px 0; background: rgba(0, 89, 178, 0.85); font-family: "Rajdhani"; font-weight: 600; font-size: 25px; color: #FFFFFF; letter-spacing: 3px; position: absolute; bottom: 4px; left: 0; right: 0; margin: 0 auto; }

#services .container .contServices.last { padding: 55px 0 0; text-align: left; }

#services .container .contServices.last p { font-family: "Poppins"; font-size: 15px; font-weight: 400; color: #333333; line-height: 180%; margin: 50px 0; }

/*-----------------------------------gallery-----------------------------------*/
#gallery { padding: 59px 0 100px; }

#gallery .row { text-align: left; }

#gallery .row2 { margin: 50px auto 0; max-width: 1580px; }

#gallery .row2 .container1, #gallery .row2 .container2 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -ms-flex-pack: distribute; justify-content: space-around; }

#gallery .row2 .container1 img, #gallery .row2 .container2 img { max-width: 320px; width: 21%; height: 100%; }

#gallery .row2 .container1 { margin-bottom: 60px; }

/*-----------------------Help-----------------------*/
#help { background: #0059B2; padding: 73px 0 71px; }

#help h2 { font-family: "Rajdhani"; font-weight: 700; font-size: 65px; color: #FFFFFF; line-height: 81px; }

#help p { font-family: "Poppins"; font-weight: 400; font-size: 22px; color: #FFFFFF; line-height: 180%; }

#help p span { display: block; }

/*footer*/
#footer { background: none; padding: 40px 0; }

#footer .silver img { display: inline-block; vertical-align: middle; max-width: 50px; }

#footer .footTop .row { border-bottom: 1px solid #D6D6D6; padding: 0 0 30px; }

#footer .footTop .container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

#footer .footTop .container .details { text-align: left; }

#footer .footTop .container .details h2 { font-family: "Rajdhani"; font-weight: 700; font-size: 20px; color: #111111; }

#footer .footTop .container .details ul { padding: 0; }

#footer .footTop .container .details ul li { display: block; font-family: "Poppins"; font-weight: 400; font-size: 13px; color: #333333; line-height: 250%; }

#footer .footTop .container .details ul li .ft-location { background: url(../images/common/footer-sprites.png) no-repeat 0 0; width: 22px; height: 22px; margin-right: 5px; display: inline-block; vertical-align: middle; }

#footer .footTop .container .details ul li .ft-phone { background: url(../images/common/footer-sprites.png) no-repeat 0 -30px; width: 22px; height: 22px; margin-right: 5px; display: inline-block; vertical-align: middle; }

#footer .footTop .container .details ul li .ft-email { background: url(../images/common/footer-sprites.png) no-repeat 0 -60px; width: 22px; height: 22px; margin-right: 5px; display: inline-block; vertical-align: middle; }

#footer .footTop .container .details p.sm { margin: 10px auto; }

#footer .footTop .container .details p.sm a { font-size: 40px; letter-spacing: 3px; }

#footer .footTop .container .details p.sm a:nth-of-type(1) { color: #3B5998; }

#footer .footTop .container .details p.sm a:nth-of-type(2) { color: #00BCFB; }

#footer .footTop .container .details p.sm a:nth-of-type(3) { color: #D53D30; }

#footer .footTop .container .details p.sm a:nth-of-type(4) { color: #007BB6; }

#footer .footBot .row { padding: 20px 0; }

#footer .footBot img.ft-Logo { max-width: 317px; width: 100%; margin-bottom: 20px; }

#footer .footBot .copy, #footer .footBot .silver { text-transform: uppercase; margin: 0 auto; font-family: "Poppins"; font-weight: 400; font-size: 13px; color: #333333; }

/*inner pages*/
.inner #content { min-height: 400px; padding: 40px 0; }

.inner #content h1 { font-family: "Rajdhani"; font-weight: 700; color: #000000; margin-bottom: 40px; }

.inner #content h2 { font-family: "Rajdhani"; font-weight: 700; font-size: 30px; }

.inner #content h3 { font-family: "Rajdhani"; font-weight: 700; font-size: 25px; }

.inner #content h4 { font-family: "Rajdhani"; font-weight: 700; font-size: 20px; }

/*--------------------------------services--------------------------------*/
.services-page #content .container h2 { padding: 20px 0; background: #0059B2; color: #FFFFFF; }

.services-page #content .container ul { max-width: 800px; margin: 40px   auto; list-style: disc inside; -webkit-columns: 2; columns: 2; }

.services-page #content .container ul li { text-align: left; font-size: 18px; line-height: 180%; }

/*----------------------------------gallery----------------------------------*/
.gallery-page #content .row { max-width: 1200px; }

/*----------------------------------review-------------------------------*/
.reviews-page #content .reviews-container .reviews { border-radius: 10px; overflow: hidden; -webkit-box-shadow: 0 0 40px -10px; box-shadow: 0 0 40px -10px; }

.reviews-page #content .reviews-container .reviews h2 { padding: 20px 0; color: #FFFFFF; background: #0059B2; }

.reviews-page #content .reviews-container .reviews .textBox { padding: 20px 40px; text-align: left; line-height: 180%; }

/*privacy policy*/
.inPrivacyBox { max-width: 850px; margin: 0 auto; }

.inPrivacyBox p { text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) { .row { width: 95%; } }

/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
